<!DOCTYPE html>
<html>
<head>
  <title>Onepayapps</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Loans", loan_applications_path %></li>
      <li><%= link_to "Help", home_help_path %></li>
      <li><%= link_to "Login", root_path %></li>
    </ul>
  </div>
  
<%= yield %>

</body>
</html>
